<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Hello</title>
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<p>UPDATE GAME</p>

<h1>FORM</h1>
<form action="#" th:action="@{/games/update-game/{id}(id=${game.id})}" th:object="${game}" method="post">
  <p>Name: <input type="text" th:field="*{game.name}" /><span th:if="${#fields.hasErrors('name')}" th:class="error" th:errors="*{game.name}"></span></p>
  <select th:field="*{game.genre}">
    <option th:each="genre : ${genres}" th:value="${genre.value}" th:text="${genre.value}">
    </option>
  </select>

  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>