<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>PROFILE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
    <body>
<!--        <form th:action="@{/logout}" method="post">
            <button sec:authorize="isAuthenticated()" type="submit">Logout</button>
        </form>-->

<!--        <div><div th:text="${userprofile.username}"></div></div>
        <button><a th:href="@{/user/{id}/show-update-profile(id=${userprofile.id})}">Update username</a></button>-->

<div class="container">

    <div class="text-right mb-2 mt-2 mr-2">
        <form th:action="@{/logout}" method="post">
            <button sec:authorize="isAuthenticated()" class="btn btn-primary btn-sm active mr-auto" type="submit">Logout</button>
        </form>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">GAME SOCIAL LIBRARY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trades/}">Exchange offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/{id}(id=${user.id})}">My games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/{id}/offers(id=${user.id})}">My offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/{id}(id=${user.id})}" th:text="${user.username}"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="text-right mt-3 ml-1 mr-1">
        <a sec:authorize="isAuthenticated()" th:href="@{/trades/show-trade-form}" class="btn btn-primary mr-auto">ADD NEW EXCHANGE OFFER</a>
    </div>

    <h3>MY OFFERS</h3>

        <div class="container mt-4">
            <div class="card-deck">
                <div th:each="trade :${useroffers}">
                    <div class="card">
                        <p class="card-text"> I have : <h5 class="card-title" th:text="${trade.game.name}"></h5></p>
                        <img class="card-img-top" th:src="@{/img/{image}(image=${trade.game.filename})}" width="150px" height="200px">
                        <div class="card-body">
                            <p class="card-text">Looking for : <h5 class="card-title" th:text="${trade.exchangeGame.name}"></h5></p>
                            <img class="card-img-bottom" th:src="@{/img/{image}(image=${trade.exchangeGame.filename})}" width="150px" height="200px">
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--        <div class="container mt-4">
            <div class="card-deck">
                <div th:each="offer :${useroffers}">
                    <div class="card">
                        <p class="card-text"> I have : <h5 class="card-title" th:text="${offer.game.name}"></h5></p>
                        <img class="card-img-top" th:src="@{/img/{image}(image=${offer.game.filename})}" width="150px" height="200px">
                        <div class="card-body">
                            <p class="card-text">Looking for : <h5 class="card-title" th:text="${offer.exchangeGame.name}"></h5></p>
                            <img class="card-img-bottom" th:src="@{/img/{image}(image=${offer.exchangeGame.filename})}" width="150px" height="200px">
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        </div>
    </body>
</html>