<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>PROFILE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button sec:authorize="isAuthenticated()" type="submit">Logout</button>
</form>

<div><div th:text="${userprofile.username}"></div></div>
<!--<button><a th:href="@{user/{id}/update-profile}(id=${userprofile.id})}">Update username</a></button>-->

<h3>My games </h3>
<div>
    <ul th:each="game :${userprofile.collection}">
        <li th:text="${game.name}"></li> <span th:text="${game.genre}"></span>
        <div th:if="${game.filename}">
            <img th:src="@{/img/{image}(image=${game.filename})}">
        </div>
        <button><a th:href="@{/user/{userid}/delete-game/{gameid}(userid=${userprofile.id}, gameid=${game.id})}">Remove</a></button>
    </ul>
</div>
<a th:href="@{/}">Back to main</a>
</body>
</html>